.whatsapp-ads-container {
    max-width: 560px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    padding-top: 60px;
    margin-bottom: 50px;

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    ol {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    li {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .checkmark-icon {
        margin-right: 10px;
    }
    .checkmark-icon img {
        width: 20px; 
        height: 70px; 
    }

    .bold {
        font-weight: bold;
    }

    .whatsapp-button {
        margin-top: 20px;

        a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            background-color: green;
            color: white;
            padding: 10px 20px;
            border-radius: 15px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darkgreen;
            }
        }

        .whatsapp-logo {
            width: 30px;
            margin-right: 15px;
        }
    }
}
