.verify-orb-page {
  width: 550px;
  height: auto;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  .progress {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgb(223, 234, 234);
    padding: 20px;
    outline-color: antiquewhite;
    outline-style: dashed;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;

      .checkmark, .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-bottom: 5px;
      }

      .checkmark {
        background-color: green;
        color: white;
      }

      .circle {
        background-color: lightgray;
      }

      &.completed .circle {
        background-color: green;
        color: white;
      }

      &.active .circle {
        border: 2px solid green;
        color: green;
      }
    }
  }

  .verification-section {
    text-align: center;
    margin: 0 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
    .orb-image {
      width: 100px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 30px;
    }

    &.verified {
      .merchant-info {
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;

        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        p {
          font-size: 14px;
          margin-bottom: 10px;
        }

        a {
          color: blue;
          text-decoration: none;
          font-size: 14px;
        }
      }

      .orb-verified {
        margin-top: 20px;

        h2 {
          font-size: 20px;
          color: green;
        }

        .referral-link {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;

          input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
          }

          button {
            padding: 10px 20px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            background-color: black;
            color: white;
            cursor: pointer;

            &:hover {
              background-color: darkgray;
            }
          }
        }
      }
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px 0;

    .worldcoin-info {
      display: flex;
      align-items: center;
      
      .globe-image {
        width: 30px;
        margin-right: 10px;
      }

      p {
        margin: 0;
        font-weight: bold;
      }

      span {
        margin-left: 5px;
        color: gray;
      }
    }

    .verify-now-container {
      .verify-now-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
      }

      .verify-now-button:hover {
        background-color: darkgray; // Add hover effect if desired
      }
    }
  }
}

.pr-friends-on-worldcoin-section {
  text-align: center;
  margin-bottom: 50px;
  
  img {
    max-width: 100%;
    margin-top: 2px;
    font-size: 76px;
  }

  p {
    font-size: 16px;
    color: #292121;
  }
}

.bold-text {
  font-weight: bold;
  font-size: 8px;
}
